##### Reading the files

In [1]:
### read csv file :  pd.read_csv("file location")
import pandas as pd
df=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex1.csv")
print("the data frame is \n ",df)
print("the shape is rows*columns",df.shape)        # df.shape gives rows*columns of data frame

the data frame is
     a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
the shape is rows*columns (3, 5)

In [2]:
#### read tsv file : tsv files tab seperated file 
import pandas as pd
data=pd.read_table("D:\\python_datascience\\data sets\\examples\\test.tsv")
print(data)

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [3]:
### read the file having column header is none so by default it named as its row as column heading as shown below in output 
import pandas as pd
df=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex2.csv")
print(df)
print("the shape is rows*columns",df.shape)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo
the shape is rows*columns (2, 5)

In [4]:
### read the file having column header is not mentioned  so change its column heading as index number : indexing starts from zero  
import pandas as pd
df=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex2.csv",header=None)  # header=None
print(df)
print("the shape is rows*columns",df.shape)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
the shape is rows*columns (3, 5)

In [5]:
### read the csv file having column header is not mentioned  so change its column heading by giving its name
import pandas as pd
df=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex2.csv",header=None,names=["a","b","c","d","e"])  # header=None
print(df)
print("the shape is rows*columns",df.shape)

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
the shape is rows*columns (3, 5)

In [6]:
## read the csv file and makes one column as index instead of defualt indexing 
import pandas as pd
df=pd.read_csv("D:\\python_datascience\\data sets\\examples\\csv_mindex.csv")
print(df)
df1=pd.read_csv("D:\\python_datascience\\data sets\\examples\\csv_mindex.csv",index_col=["key1"])  # creating key1 as index 
df1

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [7]:

## reading data from websites
import pandas as pd
data=pd.read_html("https://www.espn.in/soccer/table/_/league/eng.1")  
print(type(data))#  # return data in the form of list as it contains hetrogenenous data
data[1] 
#print(data[1])  # since the type is list so fetch the column second data as with index number 1 like list slicing

<class 'list'>

    GP   W   D   L   F   A  GD   P
0   29  22   4   3  68  18  50  70
1   29  21   6   2  75  20  55  69
2   28  17   8   3  57  19  38  59
3   28  17   3   8  44  31  13  54
4   29  16   3  10  47  36  11  51
5   29  14   8   7  48  40   8  50
6   30  14   6  10  49  39  10  48
7   30  14   4  12  31  26   5  46
8   29  11   3  15  41  40   1  36
9   27  10   6  11  42  46  -4  36
10  29   8  11  10  36  45  -9  35
11  29   7  13   9  39  38   1  34
12  29   7  12  10  26  36 -10  33
13  29   7  10  12  32  49 -17  31
14  30   8   6  16  33  47 -14  30
15  30   7   8  15  34  67 -33  29
16  27   7   4  16  29  47 -18  25
17  29   6   4  19  29  55 -26  22
18  27   3  12  12  22  38 -16  21
19  29   4   5  20  18  63 -45  17

In [8]:
## problem
##read excel file 
import pandas as pd
data1=pd.read_excel("D:\\python_datascience\\data sets\\examples\\t1.xlsx",sheet_name="d1")
print(data1)

   Unnamed: 0  height  age
0         NaN       2    3
1         NaN       4    4
2         NaN       6    5
3         NaN       8    6
4         NaN      10    7

In [9]:
### read the csv file having null values and count total nullvalues in data frame
import pandas as pd
df1=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex5.csv")  # header=None
print(df1)
print("the shape is rows*columns",df.shape)
print(df1.isnull()) # showing null values highlight True where it is else false
print(df1.isnull().sum())  # gives total count of null values in the columns eg column c  and message has 1  null values

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
the shape is rows*columns (8, 4)
   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False
something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [10]:
## ex6 contains  so many rows so to read the data as per our convienece in order to save the memeory as well
##so we make ex6 as iterator and read the  data in the form of chunk not whole 
#reading some data in chunks not all

In [11]:
tp=pd.read_csv("D:\\python_datascience\\data sets\\examples\\ex6.csv",sep=",",iterator=True,chunksize=1000)
print(tp)
#for i in tp:
    #print(i)

<pandas.io.parsers.readers.TextFileReader object at 0x000001D8CB4A65B0>

In [12]:
a=next(tp) 
a  ## read using next() on every execution of next it give 1000 chunks of data

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]

In [13]:
# reading csv file from csv package
import csv
import pandas as pd
f=open("D:\\python_datascience\\data sets\\examples\\ex7.csv")
reader=csv.reader(f)
l=[]
for i in reader:
    print(i)
    l.append(i)
print(l)
header,values=l[0],l[1:]
print(header)
print(values)
df=pd.DataFrame(values,columns=header)
df

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']
['4', '5', '6']
[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3'], ['4', '5', '6']]
['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3'], ['4', '5', '6']]

   a  b  c
0  1  2  3
1  1  2  3
2  4  5  6

In [18]:
## reading json file

In [14]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
import json
result = json.loads(obj)
print(result)
result["siblings"]
df = pd.DataFrame(result["siblings"])
df

{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [15]:
import requests
import pandas as pd
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [16]:
data = resp.json()
a = data[0]["labels"]
df = pd.DataFrame(a)
df

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...

In [17]:
# extarcted relevant structured data from json(unstructed data) 
df1=pd.DataFrame(data,columns=["url","lables","state","reactions","created_at","updated_at"])  
df1

,url,lables,state,reactions,created_at,updated_at
0,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-22T08:18:46Z,2022-03-22T08:19:02Z
1,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-22T07:47:45Z,2022-03-22T08:19:29Z
2,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-22T03:40:58Z,2022-03-22T03:40:58Z
3,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T23:54:55Z,2022-03-22T03:59:19Z
4,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T23:09:13Z,2022-03-21T23:09:14Z
5,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T22:14:12Z,2022-03-21T22:14:24Z
6,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T18:02:01Z,2022-03-21T23:57:19Z
7,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T17:25:33Z,2022-03-21T23:23:13Z
8,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T16:01:38Z,2022-03-21T16:01:38Z
9,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T11:49:41Z,2022-03-21T17:29:12Z
10,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T11:17:58Z,2022-03-21T11:57:46Z
11,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-21T03:07:09Z,2022-03-21T17:30:48Z
12,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T23:04:23Z,2022-03-21T12:46:38Z
13,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T22:49:10Z,2022-03-21T21:12:25Z
14,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T22:22:34Z,2022-03-22T01:23:19Z
15,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T19:43:17Z,2022-03-21T00:31:53Z
16,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T13:51:27Z,2022-03-21T03:46:22Z
17,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T13:46:33Z,2022-03-21T18:58:19Z
18,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T13:12:10Z,2022-03-20T19:02:28Z
19,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T05:55:18Z,2022-03-20T19:05:45Z
20,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-20T02:18:40Z,2022-03-20T16:35:45Z
21,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-19T21:31:22Z,2022-03-21T07:11:20Z
22,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-19T06:32:25Z,2022-03-22T02:48:53Z
23,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-19T02:59:17Z,2022-03-22T00:31:43Z
24,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T22:24:59Z,2022-03-21T17:59:20Z
25,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T16:03:16Z,2022-03-22T08:59:56Z
26,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T14:57:42Z,2022-03-21T12:25:11Z
27,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T13:34:08Z,2022-03-20T19:01:30Z
28,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T12:27:07Z,2022-03-18T12:29:37Z
29,https://api.github.com/repos/pandas-dev/pandas...,NaN,open,{'url': 'https://api.github.com/repos/pandas-d...,2022-03-18T02:48:16Z,2022-03-18T21:15:15Z

### writing Dataframe to csv/excel

In [22]:
import pandas as pd
l2=[[1,2,3,4],[23,56,7,8]]
df1=pd.DataFrame(l2)
print("from nested list :\n",df1)

from nested list :
     0   1  2  3
0   1   2  3  4
1  23  56  7  8

### writing dataframe name df1 to csv file name abc in current directory

In [23]:
df1.to_csv("abc.csv")

### writing dataframe name df1 to excel file name abc1 in current directory

In [25]:
df1.to_excel("abc1.xlsx")